
h1 {
    color: red;
}

nav {
    max-width: 100%;
    min-width: 100%;

    margin: none;

    background-color: aqua;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;

}

.container-inicio {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-inicio {
    max-width: 50vw;
}
